.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/Data/Delphi round 1/
/Figs/
Data/Delphi round 1/
Figs/
_book/
scratch.R
slides - calculating woodland condition - the process 01.Rmd
Expert-opnion---Indicator-impact-on-woodland-condition.html
Rplot001.jpg
02_methods_files
06_canopy_nativness_files
07_vert_struct_files
08_native_tree_spceis_richness_files
09_invasives_files
10_deadwood_files
11_avts_files
12_extent_files
13_regen_files
14_herbivore_files
15_tree-heath_files
16_ground-flora_files
17_horizontal-complexity_files
18_anthro-damage_files
index.aux
index.log
index.pdf
index.tex
index.toc
05_ind_tree_age_files
Raw weightings figure.html
_book.zip
df.scaled.csv
_book (2).zip
Round 2 analysis.html
Round-2-analysis_files/
plots
Round 2 analysis_files
Presentations
_book (3).zip
_book (4).zip
Estimating value functions and weightings - Delphi Round 2 analysis.html
weca casestudy - ladypark wood.html
WECA report - Ladypark Wood, Zone 1.html
weca casestudy - beechy wood.html
harrisons_z001.html
harrisons_z15a.html
harrisons_z20.html
harrisons_z21.html
harrisons_z15a_files
harrisons_z20_files
harrisons_z001_files