Delphi round 2
boot_results.rds
old condition data
weights_df.rds
Field Test
Appropriate_groundflora_spp_list.csv
Appropriate_tree_spp_list.csv
Indicator scores from FR ancient and long established woodlands Total scores round 3 WS2.docx
